.add-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  margin-top: 0;
  margin-bottom: 5%;
}

.add-row {
  display: flex;
  align-items: center;
}

.add-heading {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5%;
  width: 100%;
}

.add-heading select {
  width: 18%;
}

select {
  width: auto;
}

.add-row label {
  width: 35%;
  padding-right: 1%;
  font-size: 1.1rem;
  text-align: left;
}

.add-row input,
.add-row select,
.add-row textarea {
  max-width: 40%;
  border-radius: 5px;
}

.add-form {
  width: 1000px;
  height: auto;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-submit {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
