.animalDetailWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20% 0 20% 0;
  border-radius: 5px;
  width: 1100px;
  height: 800px;
}

.animalDetailWrapper img {
  border-radius: 5px;
  width: 300px;
}

.button-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sightings-button {
  width: 30%;
  margin: 1%;
}

.detail-button {
  margin: 1%;
  width: 50%;
  height: 90%;
}
