body.light-mode .add-form {
  background-color: #d7e8c0;
}

body.light-mode .add-form button {
  background-color: rgb(44, 140, 121);
  border-color: rgb(44, 140, 121);
}

body.dark-mode .add-form {
  background-color: #b581e4;
  color: #b5fff0;
}

.add-form {
  width: 1000px;
  height: 520px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.light-mode .edit-inputs input {
  border-width: 1px;
  border-radius: 5px;
}
body.light-mode .edit-inputs select {
  border-radius: 5px;
}
body.light-mode .edit-inputs textarea {
  border-width: 1px;
  border-radius: 5px;
}

.edit-inputs {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.edit-inputs button {
  width: 200px;
  margin-top: 20px;
  margin-left: 38%;
}
