.navbar nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.navbar nav ul a {
  color: white;
  padding: 3px;
  border-radius: 5%;
  font-size: 15px;
}

.navbar {
  margin: 0;
  width: 100vw;
  height: 7vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  flex-direction: row;
}

nav {
  width: 100vw;
  align-self: center;
}

/* Style for the profile link and dropdown */
.profile-dropdown {
  position: relative;
  display: inline-block;
}

/* Initially hide the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  align-self: center;
  width: 40%;
  height: 40%;
  margin-bottom: 5%;
  font-size: 0.7rem;
}

/* Style the dropdown items */
.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change background on hover */
.dropdown-item:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Show the dropdown content when hovering over profile */
.profile-dropdown:hover .dropdown-content {
  display: block;
}

/* Style the profile link itself */
.profile-link {
  padding: 10px;
  cursor: pointer;
}
