/* Wrapper for the entire messaging page */
root {
  margin: 0;
}

.private-messages-wrapper {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  height: 60vh;
  font-family: Arial, sans-serif;
  justify-content: center;
}

/* Sidebar for the conversations */
.conversation-sidebar {
  width: 25vw;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  padding: 10px;
  height: 100%;
}

.conversation-wrapper {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.conversation-wrapper:hover {
  background-color: #c8e8d0;
}

.conversation-wrapper p {
  margin: 0;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

/* Main area for the messages */
.messages-area {
  width: 65vw;
  height: 62.4vh;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  position: relative;
  flex-grow: 1;
  overflow-y: scroll;
}

/* Styling individual messages */
.message {
  max-width: 30%;
  padding: 10px 15px;
  border-radius: 20px;
  word-wrap: break-word;
}

.message p {
  margin: 0;
  font-size: 1rem;
  align-self: center;
  text-align: center;
}

.message-info p {
  font-size: 0.6em;
  margin-top: 15px;
  text-align: end;
}

.message.sender {
  align-self: flex-end;
  background-color: #dcf8c6;
  color: #000;
  margin: 8px;
  margin-left: auto;
}

.message.receiver {
  align-self: flex-start;
  background-color: #ececec;
  color: #000;
  margin: 8px;
}

/* Input area fixed at the bottom */
.message-input {
  display: flex;
  position: absolute;
  top: 85%;
  width: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.message-input-bar {
  background-color: rgb(189, 227, 206);
  width: 80vh;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.send-button {
  border-radius: 40%;
  width: 90px;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 149, 47);
  position: absolute;
  top: 0;
}
